body {
    background-color: #3C6E71;
}
.jumbotron {
    background-color: white;
    border-bottom-left-radius: 50% 25%;
    border-bottom-right-radius: 50% 25%;
    font-family: 'Montserrat', sans-serif;
    margin-left: 0%;

}
.navbar a h1 {
    color: #353535;
    font-size: 50px;
    display: inline-block;
    margin-left: 0%;
}

.nav-link {
    background-color: transparent;
    color: #353535;
    z-index: 1;
}
.navbar .nav-link a {
    font-family: 'Montserrat', sans-serif;
    color: #353535;
}
.card-deck {
    /* margin: 5%; */
    /* border-radius: 50%;
    border-color:#353535;
    border-width: 10px; */
}
.card-deck h4 {
    text-align: center;
    color: #353535;
}
